[submodule "roxmltree"]
	path = roxmltree
	url = https://github.com/nneesshh/roxmltree.git
[submodule "hashbrown"]
	path = hashbrown
	url = https://github.com/nneesshh/hashbrown.git
[submodule "spdlog-rs"]
	path = spdlog-rs
	url = https://github.com/nneesshh/spdlog-rs.git
[submodule "json"]
	path = json
	url = https://github.com/nneesshh/json.git
[submodule "parking_lot"]
	path = parking_lot
	url = https://github.com/nneesshh/parking_lot
[submodule "curl-rust"]
	path = curl-rust
	url = https://github.com/nneesshh/curl-rust
[submodule "clap"]
	path = clap
	url = https://github.com/nneesshh/clap.git
[submodule "message-io"]
	path = message-io
	url = https://github.com/nneesshh/message-io/
[submodule "opool"]
	path = opool
	url = https://github.com/nneesshh/opool
[submodule "prost"]
	path = prost
	url = https://github.com/nneesshh/prost.git
[submodule "httparse"]
	path = httparse
	url = https://github.com/nneesshh/httparse
[submodule "rand"]
	path = rand
	url = https://github.com/nneesshh/rand.git
[submodule "atomic_enum"]
	path = atomic_enum
	url = https://github.com/nneesshh/atomic_enum
[submodule "arc-swap"]
	path = arc-swap
	url = https://github.com/nneesshh/arc-swap
[submodule "rust-base64"]
	path = rust-base64
	url = https://github.com/nneesshh/rust-base64
