[submodule "roxmltree"]
	path = roxmltree
	url = https://github.com/nneesshh/roxmltree.git
[submodule "hashbrown"]
	path = hashbrown
	url = https://github.com/nneesshh/hashbrown.git
[submodule "spdlog-rs"]
	path = spdlog-rs
	url = https://github.com/nneesshh/spdlog-rs.git
[submodule "json"]
	path = json
	url = https://github.com/nneesshh/json.git
[submodule "parking_lot"]
	path = parking_lot
	url = https://github.com/nneesshh/parking_lot
[submodule "curl-rust"]
	path = curl-rust
	url = https://github.com/nneesshh/curl-rust
[submodule "clap"]
	path = clap
	url = https://github.com/nneesshh/clap.git
[submodule "message-io"]
	path = message-io
	url = https://github.com/nneesshh/message-io/
[submodule "opool"]
	path = opool
	url = https://github.com/nneesshh/opool
[submodule "prost"]
	path = prost
	url = https://github.com/nneesshh/prost.git
[submodule "httparse"]
	path = httparse
	url = https://github.com/nneesshh/httparse
[submodule "rand"]
	path = rand
	url = https://github.com/nneesshh/rand.git
[submodule "arc-swap"]
	path = arc-swap
	url = https://github.com/nneesshh/arc-swap
[submodule "rust-base64"]
	path = rust-base64
	url = https://github.com/nneesshh/rust-base64
[submodule "atomic-rs"]
	path = atomic-rs
	url = https://github.com/nneesshh/atomic-rs
[submodule "bytemuck"]
	path = bytemuck
	url = https://github.com/nneesshh/bytemuck
[submodule "rust-hex"]
	path = rust-hex
	url = https://github.com/nneesshh/rust-hex
[submodule "thread_local-rs"]
	path = thread_local-rs
	url = https://github.com/nneesshh/thread_local-rs
[submodule "http"]
	path = http
	url = https://github.com/nneesshh/http
[submodule "rlua"]
	path = rlua
	url = https://github.com/nneesshh/rlua
[submodule "hecs"]
	path = hecs
	url = https://github.com/nneesshh/hecs
[submodule "bytes"]
	path = bytes
	url = https://github.com/nneesshh/bytes
[submodule "shared_memory"]
	path = shared_memory
	url = https://github.com/nneesshh/shared_memory
[submodule "mio"]
	path = mio
	url = https://github.com/nneesshh/mio
[submodule "rustls"]
	path = rustls
	url = https://github.com/nneesshh/rustls
[submodule "rustls-native-certs"]
	path = rustls-native-certs
	url = https://github.com/nneesshh/rustls-native-certs
[submodule "pprof-rs"]
	path = pprof-rs
	url = https://github.com/nneesshh/pprof-rs
[submodule "pinky-swear"]
	path = pinky-swear
	url = https://github.com/nneesshh/pinky-swear
[submodule "pemfile"]
	path = pemfile
	url = https://github.com/nneesshh/pemfile
[submodule "data-encoding"]
	path = data-encoding
	url = https://github.com/nneesshh/data-encoding
[submodule "rust-protobuf"]
	path = rust-protobuf
	url = https://github.com/stepancheg/rust-protobuf
[submodule "iso8601-duration"]
	path = iso8601-duration
	url = https://github.com/nneesshh/iso8601-duration
[submodule "rust-mysql-simple"]
	path = rust-mysql-simple
	url = https://github.com/nneesshh/rust-mysql-simple
